/* GLOBAL RESET */
* {
    box-sizing: border-box;
    
}
body {
    margin: 0;
}

/* HEADER OCH NAV */
header, footer{
    position: sticky;
    top: 0;
    padding-bottom: 1rem;
    background-color: #474C80;
}
nav {
    display: flex;
    justify-content: space-between;
    
    
}
header a, footer {
    color: #F8F7E2;

}
header p {
    font-size: clamp(1rem, 2rem, 2.5rem);
    margin: 0;
    color: black;
    width: max-content;
}
nav li {
    display: inline;
    margin: 0 1rem;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* MAIN GRID */
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "start start start"
    "tjanster tjanster tjanster"
    "opettider opettider opettider"
    "omdomen omdomen omdomen"
    "boka boka boka"
    ;
}
.start {
    grid-area: start ;
    position: relative;
    height: 100dvh;
}
#bakgrundVideo {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 0;
    top: 0;
    
}
.start h1, .start p, .start span {
    position: relative;
    z-index: 1;
    color: #F6f4ef;

}
.start p {
    margin-bottom: 4rem;

}
.tjanster {
    grid-area: tjanster;
    background: #F6f4ef;
}
.opettider {
    grid-area: opettider;
    background: #f0ede5;
}
.boka {
    grid-area: boka;
    background: #F6f4ef;
}

footer {
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-areas: "logga kontakt";
        grid-area: footer;
        gap: 0 1rem;
    }
.footer-logga {
    grid-area: logga;
}
.kontakt {
    grid-area: kontakt;
}
    /* Styling av #start */


#datum {
    display: block;
}