/* GLOBAL RESET */
* {
    box-sizing: border-box;
    
}
body {
    margin: 0;
    font-family: Georgia, serif;
    color: #282C35;
    background-color: #FBF9F5 ;
}

/* HEADER OCH NAV */
header, footer{
    position: sticky;
    z-index: 2;
    top: 0;
    padding-bottom: 1rem;
    background-color: #474C80;
}
nav {
    display: flex;
    justify-content: space-between;
    
    
}

header p {
    font-size: clamp(1rem, 2rem, 2.5rem);
    margin: 0;
    color: black;
    width: max-content;
}
nav li {
    display: inline;
    margin: 0 1rem;
}
a {
    color: #F8F7E2;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* MAIN GRID */
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "start start start"
    "open open open"
    "tjanster tjanster tjanster"
    "opettider opettider opettider"
    "omdome omdome omdome"
    "boka boka boka"
    ;
    gap: 1rem;
}
section {
    border-radius: 60px 20px;
    border: #282C35 1px solid;
}

.start {
    grid-area: start ;
    border-radius: none;
    border: none;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    position: relative;
    height: 100dvh;
}
#bakgrundVideo {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 0;
    top: 0; 
    
}
.start h1, .start p, .start span {
    position: relative;
    z-index: 1;
    color: #F6f4ef;
    
}
#over-text {
    display: flex;
    align-items: center;
    grid-column: 1 / 6;
    grid-row: 2;
    margin-left: 1rem;
    
}
h1 {
    grid-column: 1 / 6;
    grid-row: 2;
    display: flex;
    
    flex-direction: column-reverse;
    margin: 0 0.5rem;
    padding: 0;
    font-size: 2.2rem;
}
#under-text {
    
    grid-column: 1 / 6;
    grid-row: 3;
    margin: 1rem 2rem;
}

.open {
    
    grid-area: open;
    height: 50dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #F3ECE0 ;
}

.tid-datum {
    background: #F6f4ef;
    font-size: 2rem;
    border: 1px solid black;
    padding:1rem;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 2);
}

.tjanster {
    grid-area: tjanster;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #eee4d3;
    padding: 0 1rem;
}
.tjanster h2 {
    align-self: flex-start;
}
.heldag, .halvdag, .pensionat, .klippkort, .hamta-lamna {
    background: #f0ede5;
    border: 1px solid black;
    padding:1rem;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 2);
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    
}
.pris {
    font-size: 1.5rem;
    background: #F6f4ef;
    border: 1px solid black;
    padding: 0.7rem;
    border-radius: 24px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 2);
    
    
}
.opettider {
    grid-area: opettider;
    background: #F3ECE0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
} 
td {
    border-bottom: #282C35 1px solid;   
    padding-bottom: 0.5rem;
    padding-right: 1rem; 
    text-align: right;
    
    
}

th {    
    border-bottom: #282C35 1px solid;   
    padding-bottom: 0.5rem;
    padding-left: 1rem; 
    text-align: left;
    
} 
.table-oppettider {
    width: 50dvw; 
    margin-bottom: 2rem;
}
.table-hundskotare {
    width: 40dvw;
    margin-bottom: 2rem;
    
}   
.opettider h2{
align-self: center;
}
.recensioner-container {
padding-bottom: 1rem;
}

.omdomen {
    grid-area: omdome;
    padding: 1rem;
    text-align: center;
    background: #eee4d3;
}
.omdomen h2{
    text-align: left;
}
.omdomen button, #bokning-btn {
    border-radius: 12px;
    border: #282C35 1px solid;
    background-color: #474C80;
    color: #f0ede5;
    padding: 0.5rem 0.7rem;
    transition: padding 0.5s;
}
.omdomen button:hover, .omdomen button:focus, #bokning-btn:hover, #bokning-btn:focus { 
    background-color: #595fa1;
    border: #282C35 2px solid;
    padding: 0.6rem 0.8rem;
}


.omdomen button:active, #bokning-btn:active {
    transform: translateY(5px);
}
.gray-txt {
    opacity: 0.7;
    color: #282C35;
}
.boka {
    grid-area: boka;
    background: #F3ECE0;
}
.boka h2, .boka h3 {
    padding-left: 1rem;
    
}
.boka p {
    text-align: center;
}
.boka form {
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
    gap: 0.2rem;
}
.boka label, .boka button {
    display: block;
}
.boka input {
    background: #eee4d3;  
    border: #282C35 1px solid;
    border-radius: 6px; 
}
.boka input:focus {
    background: #e2d2b6;
    outline: #282C35 2px solid;
}
.boka button {
    margin-top: 0.5rem;
}
.boka li{
    justify-content: center;
}
.boka ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-align: center;
    
    
    
}
.bokade-item {
    width: 50dvw;
    border: #282C35 1px solid;
    margin-bottom: 1rem;
    padding: 1rem 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 2);
    border-radius: 6px;
}
#avbokning-btn {
    border-radius: 12px;
    border: #282C35 1px solid;
    background-color: #C31F1E;
    color: #f0ede5;
    padding: 0.5rem 0.7rem;
    transition: padding 0.5s;
    margin: 0;
    display: block;
    justify-self: center; 
    
}
#avbokning-btn:hover, #avbokning-btn:focus { 
    background-color: #df3434;
    border: #282C35 2px solid;
    padding: 0.6rem 0.8rem;
}


#avbokning-btn:active {
    transform: translateY(5px);
}


footer section {
    border: none;
}
footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr fit-content;
    grid-area: footer;
    border-radius: 20px 20px 0 0;
    color: #F8F7E2;
        
        
    }

.kontakt-text{
        margin: 0;
        text-align: center;
        padding: 1rem;
    }

.article-container {
        display: flex;
        justify-content: space-evenly;
        margin-left: 2rem;
        gap: 1rem;
        
    }
    .footer-logga {
        display: flex;   
        flex-direction: row-reverse;
    }
    .footer-logga p {
        margin-right: 1rem;
    }
    /* Media Queries */
@media (min-width: 700px) {
    .heldag, .halvdag, .pensionat, .klippkort, .hamta-lamna {
    width: 80vw;
    background: #f0ede5;
    border: 1px solid black;
    padding:1rem;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 2);
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    
}
}
@media (min-width: 1000px) {
    main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "start start start"
    "open open opettider"
    "tjanster tjanster tjanster"
    "omdome omdome omdome"
    "boka boka boka"
    ;
    gap: 1rem;
}

/* 
.table-oppettider {
    width: 30vw;
    text-align: center;
    border: #282C35 1px solid ; 
    margin-bottom: 2rem;
}
.table-hundskotare {
    width: 30dvw;
    text-align: center;
    border: #282C35 1px solid;
    margin-bottom: 2rem;
    
}   
}
*/
.heldag, .halvdag, .pensionat, .klippkort, .hamta-lamna {
    width: 30vw;
}

}

